.dni-form-container {
    margin: auto;
    max-width: 100%;
}

.dni-form {
    margin: auto;
    max-width: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.submit-button {
    width: 100%;
}

@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    .dni-form-container {
        margin: auto;
        max-width: 100%;
    }
    
    .dni-form {
        margin: auto;
        max-width: 60%;
        padding: 5%;
        display: flex;
        flex-direction: column;
    }
    
    .submit-button {
        width: 100%;
    }
}

@media (min-width:480px) {

    /* smartphones, Android phones, landscape iPhone */

}

@media (min-width:600px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    .submit-button {
        width: 20%
    }

    .input-group {
        display: flex;
        flex-wrap: wrap;
        
        max-width: 80%;
        margin: auto;
    }
    

}

@media (min-width:700px) {
    .input-group {
        max-width: 90%;
    }
}

@media (min-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */

}